<!DOCTYPE html>
{{- $systemTypography := false -}}
{{- with site.Params.folio -}}
  {{- if isset . "systemtypography" -}}
    {{- $systemTypography = .systemTypography -}}
  {{- end -}}
{{- end -}}
<html lang="{{ site.Language.Lang }}" dir="{{ or site.Language.Direction `ltr` }}"{{ if $systemTypography }} class="type-system"{{ end }}>
<head>
  {{ partial "head.html" . }}
  {{ block "head" . }}{{ end }}
</head>
<body>
  {{ partial "sprite.html" . }}
  <a class="skip-link btn btn--secondary btn--sm" href="#main">{{ T "skipToContent" }}</a>
  {{ partial "header.html" . }}
  <main id="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
</body>
</html>
